In [ ]:
Q1. Explain with an example each when to use a for loop and a while loop.

In [ ]:
FOR LOOP

In [ ]:
for loop is used when no of iteration is already known.
For loop allows a programmer to execute a sequence of statements
several times,it abbreviates the code which helps to manage 
loop variables.

In [ ]:
example:-

In [2]:
l=[1,2,3,4,5,6,7,8,9]

In [3]:
for a in l:
    print(a)

1
2
3
4
5
6
7
8
9

In [4]:
#using range function

In [5]:
len(l)

9

In [6]:
range(len(l))

range(0, 9)

In [7]:
list(range(len(l)))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [8]:
for a in range(1,len(l)+1):
    print(a)

1
2
3
4
5
6
7
8
9

In [9]:
#using for else

In [10]:
for a in range(1,len(l)+1):
    if a == 5:
        break
    print(a)
else:
    print("do something")

1
2
3
4

In [11]:
for a in range(1,len(l)+1):
    if a == 3:
        continue
    print(a)
else:
    print("do something")

1
2
4
5
6
7
8
9
do something

In [ ]:
WHILE LOOP

In [ ]:
While loop allows a programmer to repeat,
a single statement or a group of statements for the TRUE condition.
It verifies the condition before executing the loop.

In [ ]:
#example

In [12]:
number=int(input("Enter no of digit which you want too add:"))
starting_point=0
counter=1
while counter<=number:
    starting_point=starting_point+counter
    counter=counter+1
starting_point

Enter no of digit which you want too add:10

55

In [14]:
using while else

In [33]:
number=int(input("enter a number:"))
factorial=1
while number>0:
    factorial=factorial*number
    number=number-1
factorial

enter a number:5

120

In [ ]:
Q2. Write a python program to print the sum and
product of the first 10 natural numbers using for
and while loop.

In [ ]:
using for loop

In [34]:
n=[1,2,3,4,5,6,7,8,9,10]
sum=0
for a in n:
    sum=sum+a
sum

55

In [ ]:
using for loop

In [39]:
n=int(input("Enter s natural number:"))
sum=0
while n>0:
    sum=sum+n
    print(n)
    n=n-1
    
print(sum)

Enter s natural number:10
10
9
8
7
6
5
4
3
2
1
55

In [ ]:
Q3. Create a pp to compute the electricity bill for a household.
The per-unit charges in rupees are as follows:
For the first 100 units,the user will be charged Rs. 4.5 per unit,
for the next 100 units, the user will be charged Rs. 6 per unit,
and for the next 100 units, the user will be charged Rs. 10 per unit, 
After 300 units and above the user will be charged Rs. 20 per unit.

You are required to take the units of electricity consumed 
in a month from the user as input.

Your program must pass this test case:
when the unit of electricity consumed by the user in a month is
310, the total electricity bill should be 2250.

In [7]:
unit=int(input("The units of electricity consumed in a month:"))
if unit<=100:
    print('the user will be charged Rs. 4.5 per unit',unit*4.5)
elif  unit<=200:
    print(' the user will be charged Rs. 6 per unit:',(100*4.5)+(unit-100)*6)
elif unit<=300:
    print('the user will be charged Rs. 10 per unit:',(100*4.5)+(100*6)+(unit-200)*10)
else:
    print('the user will be charged Rs. 20 per unit:',(100*4.5)+(100*6)+(100*10)+(unit-300)*20)

The units of electricity consumed in a month:310
the user will be charged Rs. 20 per unit: 2250.0

In [ ]:
Q4. Create a list of numbers from 1 to 100.
Use for loop and while loop to calculate the cube of eachnumber 
and if the cube of that number is divisible by 4 or 5, 
then append that number in a list and print that list.

In [58]:
#USING FOR LOOP

In [69]:
l_cube=[]
for a in range(1,101,1):
    cube=(a*a*a)
    if cube%4==0 or cube%5==0:
        l_cube.append(cube)

In [70]:
l_cube

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [71]:
#USING WHILE LOOP

In [80]:
l_cube2=[]
starting_point=0
counter=1
while counter<=100:
    cube=counter*counter*counter
    if cube%4 ==0 or cube%5 ==0:
        l_cube2.append(cube)
    counter=counter+1

In [82]:
l_cube2

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [ ]:
Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

In [109]:
string = "I  want to become a data scientist"
count=1
for v in string:
    if v=='a' or v=='e' or v=='i' or v=='o' or v=='u':
        count=count+1
        
print("number of variable:",count)

number of variable 12